---
import { Image } from "astro:assets";
import logo from "src/assets/header/crypnita_logo.png";

const headerItems = [
  { name: "World", href: "/Crypnita-Landing/#world" },
  { name: "Beneficios", href: "/Crypnita-Landing/#benefits" },
  { name: "Cómo registrarme", href: "/Crypnita-Landing/#register" },
  { name: "Orbpoints", href: "/Crypnita-Landing/#locations" },
  { name: "Solicita información", href: "/Crypnita-Landing/#contact" },
  { name: "App", href: "/#app" },
];
---

<nav class="fixed left-0 top-0 z-20 flex w-full h-20 items-center justify-between bg-[#f9f9f8] shadow-md">
  <div class="ml-10">
    <Image src={logo} alt="Crypnita Logo" width={200} />
  </div>

  <!-- Menú desktop -->
  <div class="hidden md:flex flex-row gap-6 pr-10">
    {headerItems.map((item) => (
      <a
        href={item.href}
        class="p-4 text-center font-poppins text-lg font-semibold transition duration-300 ease-in-out hover:text-[#FFA500]"
      >
        {item.name}
      </a>
    ))}
  </div>

  <!-- Botón menú móvil -->
  <div class="md:hidden mr-5">
    <button id="menu-btn" class="text-black focus:outline-none">
      <svg
        class="h-8 w-8"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>
  </div>
</nav>

<!-- Menú móvil -->
<div id="mobile-menu" class="fixed top-20 left-0 z-10 w-full h-screen bg-[#f9f9f8] transform -translate-y-full transition-transform duration-300 ease-in-out md:hidden">
  <div class="flex flex-col gap-4 p-6">
    {headerItems.map((item) => (
      <a href={item.href} class="p-4 text-lg font-semibold hover:text-[#FFA500] mobile-menu-link">
        {item.name}
      </a>
    ))}
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menuBtn = document.getElementById("menu-btn");
    const mobileMenu = document.getElementById("mobile-menu");
    const menuLinks = document.querySelectorAll(".mobile-menu-link");
    const body = document.body;

    if (menuBtn && mobileMenu) {
      menuBtn.addEventListener("click", () => {
        mobileMenu.classList.toggle("-translate-y-full");
        body.style.overflow = mobileMenu.classList.contains("-translate-y-full") ? "auto" : "hidden";
      });
    }

    menuLinks.forEach(link => {
      link.addEventListener("click", () => {
        if (mobileMenu) {
          mobileMenu.classList.add("-translate-y-full");
        }
        body.style.overflow = "auto";
      });
    });
  });
</script>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
