---
import { Image } from "astro:assets";
import logo from "src/assets/img/header/crypnita_logo.png";

const headerItems = [
  { name: "World", href: "#world" },
  { name: "Orbpoints", href: "/#locations" },
  { name: "Beneficios", href: "/#benefits" },
  { name: "Cómo registrarme", href: "/#register" },
  { name: "App", href: "#app" },
  { name: "Solicita información", href: "#contact" },
];
---

<nav
  class="fixed left-0 top-0 z-10 flex w-full h-20 items-center justify-between bg-[#f9f9f8]"
>
  <div class="ml-10">
    <Image src={logo} alt="logo" width={200} />
  </div>

  <!-- menú desktop -->
  <div class="hidden flex-row gap-4 pr-6 md:flex">
    {headerItems.map((item) => (
      <a
        href={item.href}
        class="scroll-link p-4 text-center font-poppins text-lg font-semibold transition-transform duration-300 ease-in-out hover:text-[#FFA500] md:text-[20px]"
      >
        {item.name}
      </a>
    ))}
  </div>

  <!-- botón burger móvil -->
  <div class="md:hidden">
    <button id="menu-btn" class="text-black focus:outline-none">
      <svg
        class="h-8 w-8"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16m-7 6h7"
        ></path>
      </svg>
    </button>
  </div>
</nav>

<!-- menú móvil -->
<div
  id="mobile-menu"
  class="block h-0 w-full transform overflow-hidden opacity-0 transition-all duration-300 md:hidden"
>
  <div class="flex flex-col gap-2 px-4">
    {headerItems.map((item) => (
      <a href={item.href} class="scroll-link hover:text-[#FFA500]">{item.name}</a>
    ))}
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menuBtn = document.getElementById("menu-btn");
    const mobileMenu = document.getElementById("mobile-menu");

    if (menuBtn && mobileMenu) {
      menuBtn.addEventListener("click", () => {
        mobileMenu.classList.toggle("opacity-100");
        mobileMenu.classList.toggle("h-auto");
        mobileMenu.classList.toggle("opacity-0");
        mobileMenu.classList.toggle("h-0");
      });
    }

    // Smooth scroll y cierre de menú en móviles
    document.querySelectorAll(".scroll-link").forEach((link) => {
      link.addEventListener("click", (e) => {
        e.preventDefault();
        const targetId = link.getAttribute("href")?.substring(1);
        if (targetId) {
          const targetElement = document.getElementById(targetId);
          if (targetElement) {
            // Cierra el menú antes de hacer scroll en móviles
            if (mobileMenu?.classList.contains("opacity-100")) {
              mobileMenu.classList.remove("opacity-100", "h-auto");
              mobileMenu.classList.add("opacity-0", "h-0");

              // Esperar a que el menú se cierre antes de hacer scroll
              setTimeout(() => {
                targetElement.scrollIntoView({ behavior: "smooth", block: "start" });
              }, 300); // Ajusta el tiempo según la duración de la animación del menú
            } else {
              targetElement.scrollIntoView({ behavior: "smooth", block: "start" });
            }
          }
        }
      });
    });
  });
</script>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
